.blog__reg  {
	background: #131c39;
}

.white__title {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: 0em;
}
.white__subtitle {
	color:  #fff;
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
}
.story__container-title{
	font-size: 48px;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-bottom: 11px;
}
.story__container-subtitle{
	color: #fff;
	text-align: center;
	max-width: 600px;
	margin: 0 auto 40px;
}

.story__grid-blocks {
	display: grid;
	grid-template-columns: 700px 390px;
	grid-template-rows: 311px 311px;
	grid-column-gap: 15px;
	grid-row-gap: 18px;
	justify-content: center;
	margin-bottom: 62px;
}
.story__item-block-1 {
	grid-column: 1/2;
	grid-row:  1/3;

}
.story__item-block {
	
	position: relative;
	border-radius: 20px;
	box-sizing: border-box;
}
.post__img img {
	max-width: 100%;
	height: auto;
}
.post__head {
	position: absolute;
	bottom:  30px;
	left:  30px;
	
}
.post__category {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	color:  #fff;
}
.post__title {	
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0em;
	color:  #fff;
}
.story__item-block-2 {
	grid-column: 2/3;
	grid-row: 1/2;
	/* height: 311px; */
}

.story__item-block-3 {
	grid-column: 2/3;
	grid-row:  2/3;
}
.btn-show__more {
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}
.show-more {
	padding: 13px 50px;

font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0em;
text-align: center;
color:  #fff;
border:  1px solid #fff;
border-radius: 10px;
background: transparent;


}

@media(max-width: 1170px){
	.story__grid-blocks {
		grid-template-columns: 390px 390px;
		grid-template-rows: 640px 311px;
	}
	.story__item-block {
		grid-column: 1/3;
		grid-row: 1/2;
		/* justify-self: center; */
	}
	.story__item-block-2 {
		grid-column: 1/2;
		grid-row: 2/3;
		/* height: 311px; */
	}
	.story__item-block-3 {
		grid-column: 2/3;
		grid-row: 2/3;
		/* height: 311px; */
	}
}

@media(max-width: 816px){
	.story__container {
		
		margin: 0 16px;
	}
	.story__container-title{
		font-size: 22px;
		color: #fff;
		font-weight: 700;
		text-align: center;
	}
	.story__container-subtitle  {
		font-size: 12px;
		color: #fff;
		text-align: center;
		
	}
	.story__grid-blocks {
		display: flex;
		flex-flow: column nowrap;
	}
	.story__item-block {
		flex-basis: auto;
		margin-bottom: 20px;
		/* padding: 100px 20px 16px 17px; */
	} 
	.post__head {
		right: 17px;
		/* top: 100px; */
		left: 20px;
		bottom: 17px;
	}
	.post__category {
		font-size: 14px;
	}
	.post__title {
		font-size: 22px;
	}
	.btn-show__more {
		margin-bottom: 0;
	}
}
@media (max-width: 576px) {
	.story__container-title{
		font-size: 22px;
		color: #fff;
		margin-bottom: 10px;
	}
	.story__container-subtitle{
		font-size: 12px;
		margin: 0 auto 18px;
	}
	
}
