.howgetorder {
	margin-bottom: 84px;
}
.howgetorder__title {
	font-size: 48px;
	font-weight: 700;
	color: #222224;
	text-align: center;
	margin-bottom: 12px;
}
.howgetorder__subtitle {
	color: #222224;
	margin: 0 auto 67px;
	text-align: center;
}
.order__wrap {
	max-width: 1054px;
	margin:  0 auto;
}
.order__flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.order__item {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-bottom: 49px;
	position: relative;
}
.order__item:not(:last-child):after{
	position: absolute;
	content: '';
	width: 270px;
	height: 67px;
	background: url(/images/regpage/line.svg);
	top: 35%;
	right: -270px;
}
.order__num {
	color: #5358CF;
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 34px;
}
.order__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	color: #222224;
	text-align: center;
}

@media (max-width: 1070px) {
	.order__item:not(:last-child):after{
		display: none;
	}
	.order__flex-box {
		justify-content: center;
		gap: 80px;
	}
}


@media (max-width: 576px) {

	.howgetorder {
		margin-bottom: 56px;
		margin-right: 35px;
		margin-left: 35px;
}
.order__wrap {
	background: #292B42;
	border-radius: 10px;
	padding: 28px 37px 43px;
	margin-bottom: 25px;
}
.howgetorder__title {
	font-size: 22px;
	color: #ffa200;
	margin-bottom: 21px;
}
.howgetorder__subtitle {
	color: #fff;
	font-size: 12px;
	margin-bottom: 48px;
}
.order__flex-box {
	display: block;
}
.order__item:not(:last-child):after {
	display: none;
	margin-bottom: 65px;
}
.order__text {
	color: #fff;
}






}