<template>
  <section class="services">
    <div class="services__wrap">
      <div class="services__title">
        <div class="services__head">More than 10000 service provider</div>
        <div class="services__subhead">With honest reviews in categories</div>
      </div>
      <div class="services__flex-box">
        <ul class="services__menu">
          <li class="services__item">
            <a class="services__link" href="#">
              <img
                class="service__img img-fluid"
                src="/images/services_icons/a.svg"
                alt=""
              />
              <span>Home service</span>
            </a>
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a1.svg"
                alt=""
              /><span>Beaty &amp; Health</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a2.svg"
                alt=""
              /><span>IT service</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a3.svg"
                alt=""
              /><span>Business services</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a16.svg"
                alt=""
              /><span>Constuction &amp; Repair</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a4.svg"
                alt=""
              /><span>Events &amp; Artists</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a5.svg"
                alt=""
              /><span>Cleaning service</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a6.svg"
                alt=""
              /><span>Installation &amp; Repair of equuipment</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a7.svg"
                alt=""
              /><span>Deliver &amp; Transportation</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a8.svg"
                alt=""
              /><span>Services for pets</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a9.svg"
                alt=""
              /><span>Repair of digital equipment</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a10.svg"
                alt=""
              /><span>Aut &amp; Moto &amp; Bicycle &amp; repair</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a11.svg"
                alt=""
              /><span>Education &amp; Tutoring</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a12.svg"
                alt=""
              /><span>Design</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a13.svg"
                alt=""
              /><span>Travel &amp; Tourism</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a14.svg"
                alt=""
              /><span>Sport coaches</span></a
            >
          </li>
          <li class="services__item">
            <a class="services__link" href="#"
              ><img
                class="service__img img-fluid"
                src="/images/services_icons/a15.svg"
                alt=""
              /><span>Advertising &amp; Marketing</span></a
            >
          </li>
        </ul>
      </div>
      <div class="service__btn">
        <a class="show-services hover:bg-primary hover:text-white" href="#"
          >View all services</a
        >
      </div>
    </div>
  </section>
</template>
