.accomplishments {
    /*background: #2D9CDB;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 98px;*/
    /*padding: 7px;*/
}
.accomplish__wrap {
    padding: 0 50px;

}
.accomplish__flex {
    max-width: 1148px;
    margin: 0 auto;
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    /*background: red;*/
    /*padding-left: 60px;*/


    justify-content: space-between;
    align-items: center;
}
.accomplish__item {
    position: relative;
    /*flex: 1 1 25%;*/
    /*background: #ffd56a;*/
    /*margin: 10px;*/
    padding-left: 61px;
    margin-bottom: 40px;
}
.accomplish__item:before {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    left: 0;
    top: 0;
    background: url("/images/accomplishments/accomplish.svg") center no-repeat;

}
.accomplish__item-head {
    font-family: 'Lato', sans-serif;
    color:  #222224;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    /*letter-spacing: 0em;*/
    text-align: left;

}
.accomplish__item-content {
    font-family: Lato;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    /*letter-spacing: 0em;*/
    text-align: left;
}
