.popup-wrap {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

}
.popup__block-background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #d4d4d4c9;
}
.popup__block{
    position: relative;
    background-color: #fff;
    align-self: center;
    padding: 130px 80px 100px 320px;
    background-image: url("/images/popups/reg-bg.svg");
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.show-off {
    display: none;
}
.popup__title {
    font-size: 22px;
    font-weight: bold;
}
.popup__block-regbutton {
    background: #5ab82e;
    color: #fff;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 32px;
    font-family: 'Lato',sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    text-align: center;
    letter-spacing: .01em;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: color .3s ease,background-color .3s ease;
    color: #fff!important;
    outline: none;
}
.form-label {
    color: #888;
    font-size: 14px;

}
.reg-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 7px 16px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Lato',sans-serif;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: .2px;
    color: #222;
}
.reg-field:focus {
    border-color: #ffa200;
    box-shadow: 0 6px 20px rgba(255,173,0,.2),0 2px 10px rgba(255,173,0,.1);
}
.reg-field:hover {
    border-color: #888;
}
.close_popup_btn_reg, .close_popup_btn_login {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.close_popup_btn_reg:hover, .close_popup_btn_login:hover {
    box-shadow: 0 6px 20px rgba(255,173,0,.2),0 2px 10px rgba(255,173,0,.1);
}
