.reg__popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .reg__popup .reg__popup-block {
    flex-basis: 320px;
    position: relative;
    padding: 56px 30px;
    background: #fff;
  }
  .popup__content h3 {
   
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
color: #222224;
margin-bottom: 25px;
  }
.reg__social-links {
    margin-bottom: 67px;
}
  
  .reg__social-links ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .reg__social-links ul li {
    width: 60px;
    height: 35px;
    list-style: none;
    background: #56779A;
    
    margin-right: 7px;
    border-radius: 6px;
  }
  .reg__social-links ul li a {
    text-decoration: none;
    outline: 1px solid #dca;
  }
  .reg__checker {
    display: flex;
    /* justify-content: center; */
    
    justify-content: space-around;
    margin-bottom: 29px;
    
    
  }
  .reg__link{
    padding-bottom: 5px;
    border-bottom: 2px solid #d9d9d9;
    flex-basis: 50%;
    text-align: center;
  } 
  .login__link {
    padding-bottom: 5px;
    border-bottom: 2px solid #ffa200;
    flex-basis: 50%;
    text-align: center;
  } 
  .reg__link a, .login__link a {
    text-transform: uppercase;
    text-decoration: none;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
color: #222224;
  }
  
  .attention__registration {
    font-size: 10px;
    font-weight: normal;
    color: #828282;
  }
  .reg__email-input {
    display: flex;
    flex-direction: column;
  }
  .reg__email-input label {
font-size: 12px;
font-weight: 400;
color: #828282;
margin-bottom: 3px;
  }
  .reg__email-input input {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    margin-bottom: 217px;
    line-height: 2;
  }
  .form__reg-email-wrapper {
   
  }
  .reg__button-green {
    margin-bottom: 11px;
    text-align: center;
  }
  
  .reg__button-green button {
    padding: 12px 105px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    background: #27B83E;
    border-radius: 10px;
    border: none;
  }