section.services__providers{
    /* padding-top: 50px; */
    background-color: #f7f8fa;
    margin-bottom: 50px;
}

.services__providers-wrap-content {
    max-width: 1040px;
    margin: 0 auto;
}
.services__providers-menu-wrap {
    display: flex;
    flex-wrap: wrap;
}
.providers__menu-item {
    flex-basis: 25%;
    list-style: none;
}
.provider__link {
    text-decoration: none;
    color: #222224;
    display: block;
}
.provider-item {
    font-size: 16px;
    font-weight: bold;
}
.provider__detail {
    margin-bottom: 41px;

}
.grey__line {
    width: 100%;
    height: 78px;
    background: #828282;
}