.form__create-task-subtitle.form__step-six {
    color: #222224;
    margin-bottom: 70px;
}
.form__create-task-subtitle.form__step-six {
    border-bottom: 1px solid #d9d9d9;
    max-width: 400px;
    font-size: 40px;
    color: #222224;
}
.form__create-task-subtitle.form__step-six input {
    border: none;

}