.adresess__link-fourstep {
    color: #222224;
    font-size: 14px;
    margin-bottom: 20px;   
}
.task__data-start .form__task-input input {
    padding-left: 21px;
    padding-right: 13px;
}
.open__data-icon, .clock__data-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #828282;
    cursor: pointer;

}
.clock__data-icon {
    right: -14px;
}
.clock__data-icon span {
    padding-left: 7px;
}
.nearest__dates a {
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    text-decoration: none;
    padding-right: 32px;
    
}
@media (max-width: 650px) {
    .step-4__title {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
}