<template>
  <div>
    <section class="reg-head">
      <div class="reg__head-wrap">
        <div class="reg__head-head">
          <h1 class="reg__head-title">Become a Artist</h1>
          <p class="reg__head-subtitle">
            will help you find new clientsand earn moneyfor the performance of
            any service.
          </p>
          <div class="reg__head-btn">
            <button>Become a Performer</button>
          </div>
          <div class="registr__video">
            <video src="https://www.youtube.com/watch?v=zRIbf6JqkNc">
              Здесь будет видеозаписей
            </video>
            <div class="play__btn">
              <button><img src="/images/regpage/play.svg" alt="" /></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="advantages">
      <div class="advantages__wrap">
        <h1 class="advantages__title">Advantages</h1>
        <p class="advantages__subtitle">
          Become a performer and complete interesting tasks from customersat a
          convenient time for you.
        </p>
        <div class="advantages__flex">
          <div class="advantages__item">
            <div class="advantage__item-img">
              <img src="/images/regpage/earn.svg" alt="" />
            </div>
            <div class="advantage__item-content">
              <span>Decent earnings</span>
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantage__item-img">
              <img src="/images/regpage/free.svg" alt="" />
            </div>
            <div class="advantage__item-content">
              <span>Free schedule</span>
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantage__item-img">
              <img src="/images/regpage/safety.svg" alt="" />
            </div>
            <div class="advantage__item-content">
              <span>Free schedule</span>
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantage__item-img">
              <img src="/images/regpage/economy.svg" alt="" />
            </div>
            <div class="advantage__item-content">
              <span>Savings on advertising</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="howgetorder">
      <div class="order__wrap">
        <h1 class="howgetorder__title">How to get an order</h1>
        <p class="howgetorder__subtitle">
          On , performers choose orders and clients themselves. It's simple.
        </p>
        <div class="order__flex-box">
          <div class="order__item">
            <div class="order__num">
              <img src="/images/regpage/1.svg" alt="" srcset="" />
            </div>
            <div class="order__text">
              Become a Performer <br />
              and complete your profile
            </div>
          </div>
          <div class="order__item">
            <div class="order__num">
              <img src="/images/regpage/2.svg" alt="" srcset="" />
            </div>
            <div class="order__text">
              Become a Performer <br />
              and complete your profile
            </div>
          </div>
          <div class="order__item">
            <div class="order__num">
              <img src="/images/regpage/3.svg" alt="" srcset="" />
            </div>
            <div class="order__text">
              Become a Performer <br />
              and complete your profile
            </div>
          </div>
        </div>
      </div>
      <div class="btn__yellow">
        <button>Become a Performer</button>
      </div>
    </section>
    <section class="video-guide">
      <div class="guide__item video__guide-item">
        <div class="guide-item__img img__guide-item">
          <img
            class="item__image"
            src="/images/regpage/sample.svg"
            alt="photo"
          />
        </div>
        <div class="guide-item__description">
          <div class="item__descr-head">
            <h3>Decent earnings</h3>
          </div>
          <div class="item__descr-subhead">
            <p class="mb-0">
              Earn on orders with without limits.Use the service for a part-time
              job or startdevelop one's own business
            </p>
          </div>
          <div class="item__descr-review">
            <p class="mb-4">
              The maximum order on .ru was almost for 100,000 rubles, I solved
              the problem for several days,for which no one wanted to take.
            </p>
          </div>
          <div class="btn__yellow add-style-btn">
            <button>Start earning</button>
          </div>
        </div>
      </div>
    </section>
    <section class="video-guide">
      <div class="guide__item video__guide-item">
        <div class="guide-item__description right__part lg:mr-15">
          <div class="item__descr-head">
            <h3>Service Security</h3>
          </div>
          <div class="item__descr-subhead">
            <p>
              Earn on orders with without limits.Use the service for a part-time
              job or startdevelop one's own business
            </p>
          </div>
          <div class="item__descr-review">
            <p class="mb-4">
              The maximum order on .ru was almost for 100,000 rubles, I solved
              the problem for several days,for which no one wanted to take.
            </p>
          </div>
          <div class="btn__yellow add-style-btn mb-4">
            <button>Start earning</button>
          </div>
        </div>
        <div class="guide-item__img img__guide-item">
          <img
            class="item__image"
            src="/images/regpage/sample.svg"
            alt="photo"
          />
        </div>
      </div>
    </section>
    <section class="terms-of-cooperation">
      <h1 class="term-of-cooperation__head">Terms of cooperation with</h1>
      <p class="term-of-cooperation__subhead">
        The service does not take a commission for the completed order.You pay
        only for responses to assignments and choose clients yourself.
      </p>
      <div class="term-of-cooperation__block">
        <div class="term-of-cooperation__item">
          <h3 class="term-of-cooperation__title">
            <span>Unlimited plan </span>
          </h3>
          <p class="term-of-cooperation__content">
            <span
              >Unlimited number of responses <br />
              to orders for 15, 30 or 90 days.</span
            >
          </p>
          <div class="choose__btn">
            <button class="btn__choose">Choose a plan</button>
          </div>
        </div>
        <div class="term-of-cooperation__item-rate">
          <h3 class="term-of-cooperation__title"><span>Base rate </span></h3>
          <p class="term-of-cooperation__content">
            <span
              >Fixed number of responses: 25, <br />
              50 or 100. For a period of 30 days.</span
            >
          </p>
          <div class="choose__btn">
            <button class="btn__choose">Choose a plan</button>
          </div>
        </div>
      </div>
    </section>
    <section class="earn-and-achieve">
      <h1 class="term-of-cooperation__head">Earn and achieveyour goals with</h1>
      <p class="term-of-cooperation__subhead">
        Our performers do it every day.
      </p>
      <div class="earn-and-achiveve__block">
        <div class="guide__item">
          <div class="guide-item__img">
            <img
              class="item__image img-fluid"
              src="/images/regpage/rectangle.svg"
              alt="photo"
            />
          </div>
          <div class="guide-item__description earn__item-description">
            <div class="item__descr-user-earn-block">
              <div class="descr-user__img earn__img-size">
                <img class="img-fluid" src="/images/regpage/ava.svg" />
              </div>
              <div class="descr-user__content">
                <p class="user__earn-name">Eugene</p>
                <p class="user__earn-category">Courier services</p>
                <p class="user__likes-counter">
                  <span>160 reviews,</span
                  ><span>156 completed assignments</span>
                </p>
              </div>
            </div>
            <div class="earn-item__descr">
              <p>
                helps me stay free.Even though the schedule is tight, I
                decidemyself, not someone tells me when to get up, where to go,
                what to do.
              </p>
            </div>
            <div class="earn-item__value">
              <p><span>64 000 &#8381;</span></p>
            </div>
            <div class="earn-item__sub-descr">
              <span
                >Average monthly income in the category "Courier services"</span
              >
            </div>
            <div class="btn__yellow add-style-btn">
              <button>Start earning</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="reviews__line">
      <div class="reviews__wrap-container">
        <div class="reviews__set-block">
          <div class="review__item">
            <p>
              <span
                >Very cool service Uber. Easy to use, especially from the
                customer's side - quicklyand any complex problems are solved
                cheaply</span
              >
            </p>
            <li><a href="">Read more </a></li>
            <div class="review__item-user-block">
              <div class="review__item-user-img">
                <img src="/images/regpage/ava.svg" alt="" />
              </div>
              <div class="review__item-user-name">
                <div class="user__name-block">Paul</div>
                <div class="user__profession-block">
                  Repair of digital equipment
                </div>
              </div>
            </div>
          </div>
          <div class="review__item">
            <p>
              <span
                >Very cool service Uber. Easy to use, especially from the
                customer's side - quicklyand any complex problems are solved
                cheaply</span
              >
            </p>
            <li><a href="">Read more </a></li>
            <div class="review__item-user-block">
              <div class="review__item-user-img">
                <img src="/images/regpage/ava.svg" alt="" />
              </div>
              <div class="review__item-user-name">
                <div class="user__name-block">Paul</div>
                <div class="user__profession-block">
                  Repair of digital equipment
                </div>
              </div>
            </div>
          </div>
          <div class="review__item">
            <p>
              <span
                >Very cool service Uber. Easy to use, especially from the
                customer's side - quicklyand any complex problems are solved
                cheaply</span
              >
            </p>
            <li><a href="">Read more </a></li>
            <div class="review__item-user-block">
              <div class="review__item-user-img">
                <img src="/images/regpage/ava.svg" alt="" />
              </div>
              <div class="review__item-user-name">
                <div class="user__name-block">Paul</div>
                <div class="user__profession-block">
                  Repair of digital equipment
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-primary">
      <div class="regpage__faq-wrap">
        <h1 class="faq__section-title">Частые вопросы</h1>
        <div class="regpage__faq-content">
          <div class="regpage__faq-setbox">
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
            <div class="faq__item-block">
              <div class="faq__item-question">
                Где гарантии, что это не обман?
                <div class="open__faq">
                  <img src="/images/regpage/openfaq.svg" alt="" />
                </div>
              </div>
              <div class="faq__item-answer">
                В 2022 году исполнилось 10 лет. За это время сотни тысяч
                исполнителей подключились к сервису и успешно зарабатывают,
                выполняя заказы. О нас пишут известные российские и зарубежные
                СМИ.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-primary">
      <div class="story__container">
        <h1 class="story__container-title">Start your story</h1>
        <p class="story__container-subtitle">
          Вдохновитесь успехами наших исполнителей. Читайте истории
          людей,которые каждый день используют сервис для подработки,
          находятновых клиентов и развивают свое дело вместе с нами.
        </p>
        <div class="story__grid-blocks">
          <div class="story__item-block-1 story__item-block">
            <div class="post__img">
              <img src="/images/regpage/post.svg" alt="" srcset="" />
              <div class="post__head">
                <div class="post__category">Courier service</div>
                <div class="post__title">How can a student find</div>
              </div>
            </div>
          </div>
          <div class="story__item-block-2 story__item-block">
            <div class="post__img">
              <img src="/images/regpage/thumb.svg" alt="" srcset="" />
              <div class="post__head">
                <div class="post__category">Courier service</div>
                <div class="post__title">How can a student find</div>
              </div>
            </div>
          </div>
          <div class="story__item-block-3 story__item-block">
            <div class="post__img">
              <img src="/images/regpage/thumb.svg" alt="" srcset="" />
              <div class="post__head">
                <div class="post__category">Courier service</div>
                <div class="post__title">
                  Как дизайнеру собрать портфолио и начать выполнять крупные
                  заказы
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-show__more">
          <button class="show-more hover:bg-green">Show more</button>
        </div>
      </div>
    </section>
  </div>
</template>

<script></script>
