<template>
  <section class="new-articles">
    <div class="section__new-articles-wrap">
      <div class="section__newarticles-title">
        <div class="new-articles__head">New blog posts</div>
        <div class="new-articles__subhead">
          You can become the hero of our stories. Post a task or become an
          executor
        </div>
      </div>
      <div class="section__new-articles-grid-set blog-swiper">
        <div class="new__arcticles-content flex space-x-6 justify-center">
          <div class="article__item swiper-slide">
            <picture>
              <div class="article__item-img">
                <img
                  class="item__img"
                  src="/images/new_articles/blog-sample.svg"
                  alt="Название"
                />
              </div>
            </picture>
            <div class="article__category">User strories `8`</div>
            <div class="article__short">
              Saved holiday and contactless payment
            </div>
          </div>
          <div class="article__item swiper-slide">
            <picture>
              <div class="article__item-img">
                <img
                  class="item__img"
                  src="/images/new_articles/blog-sample.svg"
                  alt="Название"
                />
              </div>
            </picture>
            <div class="article__category">User strories `9`</div>
            <div class="article__short">
              Saved holiday and contactless payment
            </div>
          </div>
          <div class="article__item swiper-slide">
            <picture>
              <div class="article__item-img">
                <img
                  class="item__img"
                  src="/images/new_articles/blog-sample.svg"
                  alt="Название"
                />
              </div>
            </picture>
            <div class="article__category">User strories `10`</div>
            <div class="article__short">
              Saved holiday and contactless payment
            </div>
          </div>
        </div>
        <div class="new__articles-btn">
          <a class="show-services hover:bg-green hover:text-white" href="#">
            View all articles
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
