<template>
  <section class="services how-it-work-section">
    <div class="container section-title__wrap">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="section-title__head">How does it work ?</h2>
          <p class="section-title__subhead"></p>
        </div>
      </div>
    </div>
    <div class="section__howitwork-container">
      <div class="howitwork__flex-box-set">
        <div id="img-1" class="how-work__item rounded-2xl">
          <div class="how-work__item__head">
            <h3 class="text-center mt-12">Describe</h3>
            <div class="text-center mt-4">
              its task and conditions. <br />
              It's free and takes 3-4 minutes
            </div>
          </div>
        </div>
        <div id="img-2" class="how-work__item rounded-2xl">
          <div class="how-work__item__head">
            <h3 class="text-center mt-12">Get Feedback</h3>
            <div class="text-center mt-4">
              with prices from performers. Usually
              <br />
              they arrive within 30 minutes
            </div>
          </div>
        </div>
        <div id="img-3" class="how-work__item rounded-2xl">
          <div class="how-work__item__head">
            <h3 class="text-center mt-12">Select</h3>
            <div class="text-center mt-4">
              suitable performer <br />
              and discuss deadlines
            </div>
          </div>
        </div>
      </div>
      <div class="service__btn">
        <a class="show-services hover:bg-green hover:text-white" href="#">
          Learn more
        </a>
      </div>
    </div>
  </section>
</template>
