<template>
  <section class="services">
    <div class="services__wrap">
      <div class="services__title">
        <div class="services__head">More than 10000 service provider</div>
        <div class="services__subhead">With honest reviews in categories</div>
      </div>
      <div class="services__flex-box">
        <ul class="services__menu">
          <li
            class="services__item border-b md:border-none md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a"></nuxt-icon>
              <span>Home service</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a1"></nuxt-icon>
              <span>Beaty &amp; Health</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(2)"></nuxt-icon>
              <span>IT service</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#"
              ><nuxt-icon class="service__img img-fluid" name="a(3)"></nuxt-icon
              ><span>Business services</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a16"></nuxt-icon>
              <span>Constuction &amp; Repair</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(4)"></nuxt-icon>
              <span>Events &amp; Artists</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(5)"></nuxt-icon>
              <span>Cleaning service</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(6)"></nuxt-icon>
              <span>Installation &amp; Repair of equuipment</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(7)"></nuxt-icon>
              <span>Deliver &amp; Transportation</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(8)"></nuxt-icon>
              <span>Services for pets</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon class="service__img img-fluid" name="a(9)"></nuxt-icon>
              <span>Repair of digital equipment</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon
                class="service__img img-fluid"
                name="a(10)"
              ></nuxt-icon>
              <span>Aut &amp; Moto &amp; Bicycle &amp; repair</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon
                class="service__img img-fluid"
                name="a(11)"
              ></nuxt-icon>
              <span>Education &amp; Tutoring</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon
                class="service__img img-fluid"
                name="a(12)"
              ></nuxt-icon>
              <span>Design</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon
                class="service__img img-fluid"
                name="a(13)"
              ></nuxt-icon>
              <span>Travel &amp; Tourism</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon
                class="service__img img-fluid"
                name="a(14)"
              ></nuxt-icon>
              <span>Sport coaches</span>
            </a>
          </li>
          <li
            class="services__item border-b md:border-none pb-5 border-grey-200"
          >
            <a class="services__link" href="#">
              <nuxt-icon
                class="service__img img-fluid"
                name="a(15)"
              ></nuxt-icon>
              <span>Advertising &amp; Marketing</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="service__btn">
        <a class="show-services hover:bg-green hover:text-white" href="#">
          View all services
        </a>
      </div>
    </div>
  </section>
</template>
