<template>
  <div
    class="nav-link top-nav__login underline cursor-pointer hover:text-primary"
    @click="singUpModal = true"
  >
    Sing-up
  </div>
  <UiModal v-model="singUpModal" @close="singUpModal = false">
    <div>
      <div class="reg__popup-block">
        <div class="popup__content">
          <h3>Быстрая регистрация через:</h3>
          <div class="reg__social-links">
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="reg__checker">
            <div class="reg__link"><a href="#">Регистрация</a></div>
            <div class="login__link"><a href="#">Вход</a></div>
          </div>
          <div class="form__reg-email-wrapper">
            <form class="reg__email-input">
              <label>Электронная почтa</label>
              <input placeholder="" name="email" />
            </form>
          </div>
          <div class="reg__button-green">
            <button>Зарегистрироваться</button>
          </div>
          <div class="attention__registration">
            Нажимая «Зарегистрироваться», вы соглашаетесь с Правилами сайта
          </div>
        </div>
      </div>
    </div>
  </UiModal>
</template>
<script setup>
const singUpModal = ref(false)
</script>
