<template>
  <section class="contacts__page">
    <div class="contacts__page-wrap">
      <div class="contacts__page-bg">
        <div class="contacts__page-setbox">
          <section class="section__contacts">
            <h2 class="contacts__head">Контакты</h2>
            <p class="contacts__subhead">
              Наша служба работает каждый день. <br />
              Ответим на любые<br />вопросы и пожелания в чате
            </p>
            <button class="btn__call-support bg-green">
              Написать в поддежку
            </button>
          </section>
          <section class="emails__block">
            <div class="email__item">
              <div class="email__head">Для СМИ и PR-служб</div>
              <div class="email__content">
                Даём комментарии и пишем статьи про IT.
              </div>
              <div class="email__adress">pr@hirenow.com</div>
            </div>
            <div class="email__item">
              <div class="email__head">Для контрагентов</div>
              <div class="email__content">
                Начать сотрудничество или связаться с отделом маркетинга
              </div>
              <div class="email__adress">pr@hirenow.com</div>
            </div>
            <div class="email__item">
              <div class="email__head">Для обращений и запросов</div>
              <div class="email__content">
                Для направления адвокатских запросов, запросов от
                правоохранительных органов, документально оформленных претензий
              </div>
              <div class="email__adress">pr@hirenow.com</div>
            </div>
            <div class="email__item">
              <div class="email__head">Для партнеров</div>
              <div class="email__content">
                Запускаем проекты, которые делают жизнь в городе лучше. Есть
                идеи?
              </div>
              <div class="email__adress">pr@hirenow.com</div>
            </div>
            <div class="email__item">
              <div class="email__head">Для соискателей</div>
              <div class="email__content">
                Ищем людей, которые хотят работать над большим IT-проектом
              </div>
              <div class="email__adress">pr@hirenow.com</div>
            </div>
          </section>
          <section class="contacts__details mt-14">
            <div class="detail__head">Реквизиты</div>
            <div class="detail__name">
              Общество с ограниченной ответственнностью "Киберлогистик"
            </div>
            <div class="detail__adress">
              Адрес для корреспонденции, направления жалоб и предложений:
              119048, Россия, г.Москва, а/я 440
            </div>
            <div class="detail__adress">
              Юридический адрес: <br />
              121205, Россия, г.Москва, Территория Инновационного Центра
              "Сколково", улица Нобеля 7, помещение 47
            </div>
            <div class="detail__numeros">89851423465 - для корреспонденции</div>
            <div class="detail__numeros">ИНН 7730194136</div>
            <div class="detail__numeros">КПП 773101001</div>
            <div class="detail__numeros">ОГРН 5157746302434</div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>
