<template>
  <div>
    <section class="faq__head bg-primary py-5">
      <div class="section__faq-container">
        <div class="home__link flex w-full justify-end mt-4">
          <a href="/">Перейти на сайт HireNow </a>
        </div>
        <div class="faq__head-title">
          <p>Ответы на частые вопросы и рекомендации от HireNow</p>
        </div>
        <div class="faq__search-field">
          <form>
            <input
              id="faq-search__input"
              class="faq-search__input rounded-xl"
              type="text"
              name="findfaq"
              placeholder="Поиск ответов"
            />
          </form>
        </div>
      </div>
    </section>
    <section class="faq-page">
      <div class="faq__wrap-container">
        <div class="faq__container">
          <div class="faq__items">
            <div class="faq__item_block">
              <h3 class="faq__item-title">
                <span>Как пользоваться сервисом</span>
              </h3>
              <p class="faq__item-content">
                <span
                  >Рассказываем, как заказать услугу или стать исполнителем, а
                  еще, как общаться на сервисе. Новым исполнителям: как взять
                  ревое задание и начать зарабатывать. И немного о самых важных
                  правилах площадки</span
                >
              </p>
              <div class="author__info">
                <div class="autor__info-img">
                  <img
                    class="img-fluid"
                    src="/images/regpage/ava.svg"
                    alt="profile photo"
                  />
                </div>
                <div class="autor__info-block">
                  <p>16 статей в этой коллекции</p>
                  <p>Автор: Константин</p>
                </div>
              </div>
            </div>
            <div class="faq__item_block">
              <h3 class="faq__item-title">
                <span>Как пользоваться сервисом</span>
              </h3>
              <p class="faq__item-content">
                <span
                  >Рассказываем, как заказать услугу или стать исполнителем, а
                  еще, как общаться на сервисе. Новым исполнителям: как взять
                  ревое задание и начать зарабатывать. И немного о самых важных
                  правилах площадки</span
                >
              </p>
              <div class="author__info">
                <div class="autor__info-img">
                  <img
                    class="img-fluid"
                    src="/images/regpage/ava.svg"
                    alt="profile photo"
                  />
                </div>
                <div class="autor__info-block">
                  <p>16 статей в этой коллекции</p>
                  <p>Автор: Константин</p>
                </div>
              </div>
            </div>
            <div class="faq__item_block">
              <h3 class="faq__item-title">
                <span>Как пользоваться сервисом</span>
              </h3>
              <p class="faq__item-content">
                <span
                  >Рассказываем, как заказать услугу или стать исполнителем, а
                  еще, как общаться на сервисе. Новым исполнителям: как взять
                  ревое задание и начать зарабатывать. И немного о самых важных
                  правилах площадки</span
                >
              </p>
              <div class="author__info">
                <div class="autor__info-img">
                  <img
                    class="img-fluid"
                    src="/images/regpage/ava.svg"
                    alt="profile photo"
                  />
                </div>
                <div class="autor__info-block">
                  <p>16 статей в этой коллекции</p>
                  <p>Автор: Константин</p>
                </div>
              </div>
            </div>
            <div class="faq__item_block">
              <h3 class="faq__item-title">
                <span>Как пользоваться сервисом</span>
              </h3>
              <p class="faq__item-content">
                <span
                  >Рассказываем, как заказать услугу или стать исполнителем, а
                  еще, как общаться на сервисе. Новым исполнителям: как взять
                  ревое задание и начать зарабатывать. И немного о самых важных
                  правилах площадки</span
                >
              </p>
              <div class="author__info">
                <div class="autor__info-img">
                  <img
                    class="img-fluid"
                    src="/images/regpage/ava.svg"
                    alt="profile photo"
                  />
                </div>
                <div class="autor__info-block">
                  <p>16 статей в этой коллекции</p>
                  <p>Автор: Константин</p>
                </div>
              </div>
            </div>
            <div class="faq__item_block">
              <h3 class="faq__item-title">
                <span>Как пользоваться сервисом</span>
              </h3>
              <p class="faq__item-content">
                <span
                  >Рассказываем, как заказать услугу или стать исполнителем, а
                  еще, как общаться на сервисе. Новым исполнителям: как взять
                  ревое задание и начать зарабатывать. И немного о самых важных
                  правилах площадки</span
                >
              </p>
              <div class="author__info">
                <div class="autor__info-img">
                  <img
                    class="img-fluid"
                    src="/images/regpage/ava.svg"
                    alt="profile photo"
                  />
                </div>
                <div class="autor__info-block">
                  <p>16 статей в этой коллекции</p>
                  <p>Автор: Константин</p>
                </div>
              </div>
            </div>
            <div class="faq__item_block">
              <h3 class="faq__item-title">
                <span>Как пользоваться сервисом</span>
              </h3>
              <p class="faq__item-content">
                <span
                  >Рассказываем, как заказать услугу или стать исполнителем, а
                  еще, как общаться на сервисе. Новым исполнителям: как взять
                  ревое задание и начать зарабатывать. И немного о самых важных
                  правилах площадки</span
                >
              </p>
              <div class="author__info">
                <div class="autor__info-img">
                  <img
                    class="img-fluid"
                    src="/images/regpage/ava.svg"
                    alt="profile photo"
                  />
                </div>
                <div class="autor__info-block">
                  <p>16 статей в этой коллекции</p>
                  <p>Автор: Константин</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
