<template>
  <section class="registration__steps step__4-about">
    <div class="common__section-wrap">
      <div class="common__section-setbox-3 mod__setbox-4">
        <div class="under__block-title">
          <span>Шаг 4 из 5 - Категории заданий</span>
        </div>
        <div class="form__section-step-4">
          <form>
            <div class="form__title">Чем вы хотите заниматься?</div>
            <div class="form__subtitle">
              Выберите категории заданий, в которых хотите рабоать. Можно сразу
              несколько - изменить их всегда можно в профиле.
            </div>
            <div class="form__about-input-group form__about-4">
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Installation of ppliances</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span
                    >Repair of household appliances</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Legal services</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Beauty and health</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Apple Repair</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Promoter Services</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Saint Petersburg</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Ekaterinburg</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Auto repair</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Education</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Work on HireNow</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Novosibirsk</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Nizhny Novgorod</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Cleaning</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Help on the road</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Computer Repair</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Psychologists</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Electronics repair</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Repair and tailoring</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Household staff</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Household repairs</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Help from freelancers</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Cargo transportation</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Photo and video services</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
              <div class="input__item input__item-step4">
                <label>
                  <input type="checkbox" /><span>Courier services</span
                  ><span class="tasks__value-is">[4]</span>
                  <div class="arrow__icon-open">
                    <img src="/images/regpage/arrow-open.svg" />
                  </div>
                </label>
              </div>
            </div>
            <div class="form__block-select-categories">
              <div class="select__all-categories">
                <button>Выбрать все подкатегории</button>
              </div>
              <div class="select__categories-from-list">
                <div class="btn__category">
                  <button>шиномонтаж</button>
                </div>
                <div class="btn__category">
                  <button>автоэлектрика</button>
                </div>
                <div class="btn__category">
                  <button>кузовной ремонт</button>
                </div>
                <div class="btn__category">
                  <button>мотосервис</button>
                </div>
                <div class="btn__category">
                  <button>что-то другое</button>
                </div>
              </div>
            </div>
            <div class="form__about-btn-block">
              <nuxt-link :to="{ name: 'profile-about-me-third-step' }">
                <button class="back__btn">Назад</button>
              </nuxt-link>
              <nuxt-link :to="{ name: 'profile-about-me-fifth-step' }">
                <button class="forward__btn">Далее</button>
              </nuxt-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
