.common-info__flex-box {
	display: flex;
	margin-left: 60px;
	margin-top: 32px;

}
.common-info__item {
    flex-basis: 260px;
    height: 151px;
    background: #fff;
    border-radius: 20px;
    padding: 28px;
    margin-right: 45px;
    /*outline: 1px solid maroon;*/
    position: relative;
}
.info-item__number {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0em; 
	color:  #000;
	margin-bottom: 24px;
}
.info-item__list-name {

font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
color:  #828282;
padding-bottom: 18px;
border-bottom: 1px solid #ffa200;

}
.info-item__icon {
	position: absolute;
	top: 26px;
	right: 30px;
}
